.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*jssor slider bullet skin 053 css*/
.jssorb053 .i {
    position: absolute;
    cursor: pointer;
}

.jssorb053 .i .b {
    fill: #fff;
    fill-opacity: 0.3;
}

.jssorb053 .i:hover .b {
    fill-opacity: .7;
}

.jssorb053 .iav .b {
    fill-opacity: 1;
}

.jssorb053 .i.idn {
    opacity: .3;
}

/*jssor slider arrow skin 093 css*/
.jssora093 {
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    width: 36px;
    height: 60px;
    font-size: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color:transparent;
}
.jssora093:hover{
    opacity:0.8;
}

.jssor_1:hover.jssora093{
    background:red;
}

.jssora093 .c {
    fill: none;
    stroke: #fff;
    stroke-width: 400;
    stroke-miterlimit: 10;
}

.jssora093 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 400;
    stroke-miterlimit: 10;
}

.jssora093.jssora093dn {
    opacity: .6;
}

.jssora093.jssora093ds {
    opacity: .3;
    pointer-events: none;
}

#jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 980px;
    height: 380px;
    overflow: hidden;
    visibility: hidden;
}

.jssorl-009-spin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.jssorl-009-spin img {
    margin-top: -19px;
    position: relative;
    top: 50%;
    width: 38px;
    height: 38px;
}

.list-slider {
    border-radius: 2px;
    cursor: default;
    position: relative;
    top: 0;
    left: 0;
    width: 980px;
    height: 380px;
    overflow: hidden;
}